@font-face{
    font-family: '方正卡通简体';
    font-display: swap;
    src: url('/font/方正卡通简体.ttf') format("truetype");
}

@font-face{
    font-family: '方正稚艺简体';
    font-display: swap;
    src: url('/font/方正稚艺简体.ttf') format("truetype");
}

@font-face{
    font-family: 'segoescb';
    font-display: swap;
    src: url('/font/segoescb.ttf') format("truetype");
}

@font-face{
    font-family: 'ZhouFangRiMingTi-2';
    font-display: swap;
    src: url('/font/ZhouFangRiMingTi-2.otf') format("truetype");
}

body {
    font-family: 'ZhouFangRiMingTi-2', 'segoescb', '方正卡通简体', '方正稚艺简体', "Microsoft YaHei";
}